@model PhotoShareSite.Models.AlbumAddModel

<div class="container body-content">
    >
    <form asp-controller="Gallery" asp-action="AddToAlbumWag">
        <p>
            Create A New Album: <input type="text" asp-for="AlbumName"   />
            <input type="submit" value="Add" />
        </p>
    </form>
    <p>
        @foreach (var item in Model.Albums)
        {
            @using (Html.BeginForm("AddToAlbum", "Image", new { photoId = Model.PhotoId, albumId = item.Id }, FormMethod.Post))
            {
                <button type="submit" class="btn btn-primary">@item.Description</button>
            }
        }
    </p>
</div>