@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome</h1>
    <p><h3>This Photo Share Site is to provide a secure means of sharing photo's with other users on the site</h3></a>.</p>
</div>
<div class="text-center">
    <h1 class="display-4">Photo Share Site Developers: </h1>
    <p><h4>Hanu Ebersohn 28687892 And James H. Smith 30129036</h4></a>.</p>
</div>